## Функциональный подход и альтернативы
- Лямбда функции
- примеры map и filter
- аналоги comprehensions
- сравнение производительности решений

In [1]:
map

map

In [2]:
map.__doc__

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [3]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [4]:
abs(3)

3

In [5]:
abs(-3)

3

In [6]:
some_nums = [1, 2, 4, 0, -3, -2, -1]
print(some_nums)

[1, 2, 4, 0, -3, -2, -1]

In [7]:
abs_nums = []
for num in some_nums:
    abs_nums.append(abs(num))

print(abs_nums)

[1, 2, 4, 0, 3, 2, 1]

In [8]:
map(abs, some_nums)

In [9]:
abs_nums = list(map(abs, some_nums))
abs_nums

[1, 2, 4, 0, 3, 2, 1]

In [10]:
for num in map(abs, some_nums):
    print(num)

1
2
4
0
3
2
1

In [11]:
abs_nums = [abs(num) for num in some_nums]
print(abs_nums)

[1, 2, 4, 0, 3, 2, 1]

In [12]:
def square(n):
    # return n ** 2
    return n * n

In [13]:
square(3)

9

In [14]:
square(4)

16

In [15]:
some_nums

[1, 2, 4, 0, -3, -2, -1]

In [16]:
for num in some_nums:
    print(square(num))

1
4
16
0
9
4
1

In [17]:
for s in map(square, some_nums):
    print(s)

1
4
16
0
9
4
1

In [18]:
squares = [square(num) for num in some_nums]
print(squares)

[1, 4, 16, 0, 9, 4, 1]

In [19]:
print(
    list(map(square, some_nums))
)

[1, 4, 16, 0, 9, 4, 1]

In [20]:
squares = [num * num for num in some_nums]
print(squares)

[1, 4, 16, 0, 9, 4, 1]

In [22]:
some_nums

[1, 2, 4, 0, -3, -2, -1]

In [23]:
some_powers = [100, 10, 3, 0, 4, 2, 1]
some_powers

[100, 10, 3, 0, 4, 2, 1]

In [24]:
for n in map(lambda x, y: x ** y, some_nums, some_powers):
    print(n)

1
1024
64
1
81
4
-1

In [25]:
def power(x, y):
    return x ** y

In [26]:
for n in map(power, some_nums, some_powers):
    print(n)

1
1024
64
1
81
4
-1

In [27]:
for n, p in zip(some_nums, some_powers):
    print(n, "^", p)

1 ^ 100
2 ^ 10
4 ^ 3
0 ^ 0
-3 ^ 4
-2 ^ 2
-1 ^ 1

In [28]:
print(
    list(
        zip(some_nums, some_powers)
    )
)

[(1, 100), (2, 10), (4, 3), (0, 0), (-3, 4), (-2, 2), (-1, 1)]

In [29]:
nums_powers = [
    power(a, b)
    for a, b in zip(some_nums, some_powers)
]
nums_powers

[1, 1024, 64, 1, 81, 4, -1]

In [30]:
nums_powers = [
    a ** b
    for a, b in zip(some_nums, some_powers)
]
nums_powers

[1, 1024, 64, 1, 81, 4, -1]

In [31]:
from timeit import timeit

In [32]:
print(timeit.__doc__)

Convenience function to create Timer object and call timeit method.

In [33]:
timeit(
    stmt="2 ** 10",
)

0.01718124997569248

In [34]:
timeit(
    stmt="power(2, 10)",
    # setup=""
    globals={
        "power": power,
    },
)

0.08234562503639609

In [37]:
timeit(
    stmt="[power(a, b) for a, b in zip(some_nums, some_powers)]",
    # setup=""
    globals={
        "power": power,
        "some_nums": some_nums,
        "some_powers": some_powers,
    },
)

0.6624246669816785

In [39]:
timeit(
    stmt="list(map(power, some_nums, some_powers))",
    # setup=""
    globals={
        "power": power,
        "some_nums": some_nums,
        "some_powers": some_powers,
    },
)

0.5435243749525398

In [40]:
timeit(
    stmt="[a ** b for a, b in zip(some_nums, some_powers)]",
    # setup=""
    globals={
        "some_nums": some_nums,
        "some_powers": some_powers,
    },
)

0.5349344169953838

In [41]:
timeit(
    stmt="list(map(lambda x, y: x ** y, some_nums, some_powers))",
    # setup=""
    globals={
        "some_nums": some_nums,
        "some_powers": some_powers,
    },
)

0.5832034170161933

In [42]:
pow

In [43]:
pow(2, 10)

1024

In [44]:
timeit(
    stmt="list(map(pow, some_nums, some_powers))",
    # setup=""
    globals={
        "some_nums": some_nums,
        "some_powers": some_powers,
    },
)

0.4093141669873148

In [45]:
from operator import add

In [46]:
print(
    list(map(add, some_nums, abs_nums))
)

[2, 4, 8, 0, 0, 0, 0]

In [47]:
"abC".title()

'Abc'

In [48]:
names = [
    "john",
    "sam white",
    "KatE",
    "nick black",
]
print(names)

['john', 'sam white', 'KatE', 'nick black']

In [49]:
names_pretty = [
    name.title()
    for name in names
]
names_pretty

['John', 'Sam White', 'Kate', 'Nick Black']

In [50]:
names_pretty = list(
    map(lambda s: s.title(), names)
)
names_pretty

['John', 'Sam White', 'Kate', 'Nick Black']

In [51]:
"".title

In [52]:
str.title

In [53]:
str.title("wOrLd")

'World'

In [54]:
names_pretty = list(
    map(str.title, names)
)
names_pretty

['John', 'Sam White', 'Kate', 'Nick Black']

In [55]:
timeit(
    stmt="[name.title() for name in names]",
    globals={
        "names": names,
    },
    number=1_000_000,
)

0.3664544160128571

In [56]:
timeit(
    stmt="list(map(lambda s: s.title(), names))",
    globals={
        "names": names,
    },
    number=1_000_000,
)

0.4875262909918092

In [57]:
timeit(
    stmt="list(map(str.title, names))",
    globals={
        "names": names,
    },
    number=1_000_000,
)

0.37295224994886667

In [58]:
filter

filter

In [59]:
some_nums

[1, 2, 4, 0, -3, -2, -1]

In [60]:
for num in filter(lambda n: n >= 0, some_nums):
    print(num)

1
2
4
0

In [62]:
not_negative = list(filter(lambda n: n >= 0, some_nums))
not_negative

[1, 2, 4, 0]

In [63]:
not_negative = [n for n in some_nums if n >= 0]
not_negative

[1, 2, 4, 0]

In [64]:
def is_not_negative(n):
    return n >= 0

In [65]:
not_negative = list(filter(is_not_negative, some_nums))
not_negative

[1, 2, 4, 0]

In [66]:
timeit(
    stmt="[n for n in some_nums if n >= 0]",
    globals={
        "some_nums": some_nums,
    },
    number=1_000_000,
)

0.19462841702625155

In [67]:
timeit(
    stmt="list(filter(lambda n: n >= 0, some_nums))",
    globals={
        "some_nums": some_nums,
    },
    number=1_000_000,
)

0.39046620804583654

In [68]:
timeit(
    stmt="list(filter(is_not_negative, some_nums))",
    globals={
        "some_nums": some_nums,
        "is_not_negative": is_not_negative,
    },
    number=1_000_000,
)

0.3587335409829393

In [69]:
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
evens = [n for n in numbers if n % 2 == 0]
evens

[2, 4, 6, 8, 10]

In [71]:
odds = [n for n in numbers if n % 2 != 0]
odds

[1, 3, 5, 7, 9]

In [72]:
odds = [n for n in numbers if n % 2]
odds

[1, 3, 5, 7, 9]

In [73]:
timeit(
    stmt="[n for n in numbers if n % 2 == 0]",
    globals={
        "numbers": numbers,
    },
    number=1_000_000,
)

0.3990489999996498

In [74]:
timeit(
    stmt="[n for n in numbers if n % 2 != 0]",
    globals={
        "numbers": numbers,
    },
    number=1_000_000,
)

0.40467904100660235

In [75]:
timeit(
    stmt="[n for n in numbers if n % 2]",
    globals={
        "numbers": numbers,
    },
    number=1_000_000,
)

0.34047929098596796